<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="emailField">Email</label>
        <p><input type="email" name="email" id="emailField"></p>
        <label for="passwordField">Password</label>
        <p><input type="password" name="password" id="passwordField"></p>
        <input type="submit" value="Login">
    </form>
    <p>Don't have an account yet? Register <a href="{% url 'register' %}">here</a></p>
</body>
</html>